/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.dmBody div.u_1132091018{
padding-left:0 !important;
padding-right:0 !important}
*#dm *.dmBody div.u_1129324878{
padding-left:15px !important;
padding-right:15px !important}
