/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS DESKTOP AND TABLET DEVICES */
*#dm *.dmBody div.u_1129324878
{
	padding-top:0 !important;
	padding-bottom:0 !important;
}
*#dm *.dmBody div.u_1207077349
{
	margin-left:0 !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1931185057
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:auto !important;
	position:relative !important;
	height:auto !important;
	padding-top:1.5px !important;
	padding-left:40px !important;
	padding-bottom:1.5px !important;
	margin-right:0 !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:40px !important;
	min-width:0 !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1378378733
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
}
