/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.p_hfcontainer div.u_dm-title{
display:none !important}
*#dm *.p_hfcontainer a.u_dm-logo-anchor{
display:inline-block !important}
*#dm *.p_hfcontainer div.u_logo-div{
display:inline-block !important}
*[dmtemplateid="mobileHamburgerLayout"] *.layout-drawer-hamburger.hamburger-on-header{
color:rgba(102,102,102,1) !important;
background-color:rgba(0,0,0,0) !important}
*#dm *.p_hfcontainer div#mobile-hamburger-header{
box-shadow:rgba(0,0,0,0.25) 0 3px 11px 0 !important;
-moz-box-shadow:rgba(0,0,0,0.25) 0 3px 11px 0 !important;
-webkit-box-shadow:rgba(0,0,0,0.25) 0 3px 11px 0 !important;
border-style:solid !important;
border-width:0 !important;
padding-top:0 !important;
padding-bottom:0 !important;
background-color:rgb(61,61,61) !important;
background-image:none !important;
background-repeat:repeat !important;
background-size:auto !important;
background-position:0 0 !important}
*#dm *.p_hfcontainer div.u_1590259219{
padding-right:10px !important;
padding-left:10px !important}
*#dm *.p_hfcontainer div.u_1161572496{
margin-left:0 !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:10px !important;
margin-right:0 !important}
*#dm *.p_hfcontainer div.u_1978782711{
padding-top:10px !important;
padding-bottom:10px !important}
*#dm *.p_hfcontainer div.u_1806091415{
float:none !important;
top:0 !important;
left:0 !important;
width:130px !important;
position:relative !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:100% !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:0 !important;
min-width:0 !important;
text-align:center !important;
display:block !important;
height:auto !important}
*#dm *.p_hfcontainer div.u_1849137330{
float:none !important;
top:0 !important;
left:0 !important;
width:30px !important;
position:relative !important;
height:27px !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-right:0 !important;
margin-left:auto !important;
max-width:100% !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:0 !important;
min-width:0 !important;
text-align:center !important;
display:block !important}
*[dmtemplateid="mobileHamburgerLayout"].runtime-module-container.layout-drawer_open.layout-drawer_push-content.hamburger-reverse{
transform:translate(-85vw,0) !important}
*[dmtemplateid="mobileHamburgerLayout"] div.layout-drawer-overlay{
background-color:rgba(0,0,0,0.4) !important}
*.layout-drawer_fixed-header[dmtemplateid="mobileHamburgerLayout"] *#mobile-hamburger-drawer.layout-drawer{
top:74px !important;
max-height:calc(100% - 74px) !important}
*[dmtemplateid="mobileHamburgerLayout"].runtime-module-container.layout-drawer_open.layout-drawer_push-content{
transform:translate(0,89%) !important}
*[dmtemplateid="mobileHamburgerLayout"] *.layout-drawer-hamburger:not(.hamburger-on-header){
background-color:rgba(0,0,0,0) !important;
color:rgba(102,102,102,1) !important}
*#dm *.p_hfcontainer *#mobile-hamburger-drawer.layout-drawer:not([data-origin="top"]){
width:100vw !important}
*#dm *.p_hfcontainer div#mobile-hamburger-drawer.layout-drawer{
background-color:rgba(39,42,47,1) !important}
*#dm *.p_hfcontainer *#mobile-hamburger-drawer.layout-drawer[data-origin="top"]:not([data-auto-height]){
height:100% !important}
*#dm *.p_hfcontainer div.u_1092436179{
margin-left:0 !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:0 !important;
margin-right:0 !important}
*#dm *.p_hfcontainer div.u_1266576127{
margin-left:0 !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:0 !important;
margin-right:0 !important}
*#dm *.p_hfcontainer div.u_1171643469{
margin-left:0 !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:0 !important;
margin-right:0 !important}
*#dm *.p_hfcontainer div.u_1921908015{
margin-left:0 !important;
padding-top:30px !important;
padding-left:20px !important;
padding-bottom:30px !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:20px !important;
margin-right:0 !important}
*#dm *.p_hfcontainer div.u_1818738500{
margin-left:0 !important;
padding-top:70px !important;
padding-left:20px !important;
padding-bottom:0 !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:20px !important;
margin-right:0 !important}
*#dm *.p_hfcontainer nav.u_1847592064.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before{
padding-top:6px !important;
padding-bottom:6px !important;
margin-top:0 !important;
margin-bottom:0 !important}
*#dm *.p_hfcontainer nav.u_1847592064.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after{
padding-top:6px !important;
padding-bottom:6px !important;
margin-top:0 !important;
margin-bottom:0 !important}
*#dm *.p_hfcontainer *.u_1272426842 *.socialHubInnerDiv a{
margin-right:19px !important}
*#dm *.p_hfcontainer *.u_1272426842 *.socialHubIcon{
width:26px !important;
height:26px !important;
font-size:17.333333333333332px !important;
line-height:26px !important}
*#dm *.p_hfcontainer *.u_1272426842 *.socialHubIcon:after{
width:34px !important;
height:26px !important}
*#dm *.p_hfcontainer div.u_1272426842{
display:block !important;
float:none !important;
top:0 !important;
left:0 !important;
width:100% !important;
position:relative !important;
height:auto !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:100% !important;
margin-top:10px !important;
margin-bottom:0 !important;
padding-right:0 !important;
min-width:0 !important;
text-align:center !important}
*#dm *.p_hfcontainer nav.u_1847592064.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item{
font-size:18px !important}
*#dm *.p_hfcontainer nav.u_1847592064.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item{
font-size:16px !important}
*#dm *.p_hfcontainer nav.u_1847592064{
float:none !important;
top:0 !important;
left:0 !important;
width:100% !important;
position:relative !important;
height:auto !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:calc(100% - 0px) !important;
margin-top:23px !important;
justify-content:center !important;
align-items:stretch !important;
margin-bottom:0 !important;
padding-right:0 !important;
min-width:25px !important;
text-align:start !important}
*#dm *.p_hfcontainer div.u_1759228070 *.language a{
border-style:solid !important;
border-width:0 !important}
*#dm *.p_hfcontainer div.u_1759228070{
float:none !important;
top:0 !important;
left:0 !important;
width:50px !important;
position:relative !important;
height:auto !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-right:0 !important;
margin-left:117px !important;
max-width:calc(100% - 117px) !important;
margin-top:10px !important;
margin-bottom:0 !important;
padding-right:0 !important;
min-width:25px !important;
text-align:center !important}
*#dm *.p_hfcontainer div.u_1759228070 *.mobileMultilingual a{
background-color:rgba(39,42,47,1) !important}
*[dmtemplateid="mobileHamburgerLayout"].runtime-module-container .layout-drawer-hamburger{
top:17.5px !important}
*[dmtemplateid="mobileHamburgerLayout"] .site_content{
margin-top:75px !important}
*[dmtemplateid="mobileHamburgerLayout"].layout-drawer_fixed-header #mobile-hamburger-drawer.layout-drawer{
top:75px !important;
max-height:calc(100% - 75px) !important}
.fHeader #hcontainer.dmHeader[freeheader="true"]{
padding-top:initial !important;
padding-bottom:initial !important}
