/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS DESKTOP AND TABLET DEVICES */
*#dm *.dmBody div.u_1409932140{
height:10px !important}
*#dm *.dmBody div.u_1802665719{
margin-top:0 !important}
*#dm *.dmBody div.u_1482690230{
margin-top:0 !important}
*#dm *.dmBody div.u_1694343445{
padding-top:0 !important;
padding-bottom:0 !important;
margin-top:0 !important}
*#dm *.dmBody div.u_1046376644{
padding-bottom:0 !important;
padding-top:0 !important}
*#dm *.dmBody div.u_1323090342{
width:100% !important}
*#dm *.dmBody div.u_1323090342 hr{
margin-bottom:20px !important}
*#dm *.dmBody h2.u_1494951262{
margin-top:0 !important;
margin-bottom:0 !important}
*#dm *.dmBody div.u_1241389950{
margin-bottom:30px !important;
margin-top:8px !important}
