/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS ALL DEVICES */
*#dm *.dmBody div.u_1046376644{
background-color:rgba(0,0,0,0) !important}
*#dm *.dmBody div.u_1591920643{
}
*#dm *.dmBody h2.u_1494951262{
}
*#dm *.dmBody div.u_1241389950{
}
*#dm *.dmBody div.u_1323090342 hr{
background:none !important;
height:0 !important;
background-color:transparent !important;
background-size:initial !important;
min-height:0 !important;
border-color:currentColor !important;
border-width:1px !important;
border-top-style:solid !important;
color:rgb(221,221,221) !important;
border-top-width:1px !important}
*#dm *.dmBody *.u_1591920643{
width:100% !important}
