/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.dmBody div.u_1243667655 {

  margin-left:0px !important;

  padding-top:0px !important;

  padding-left:0px !important;

  padding-bottom:0px !important;

  margin-top:0px !important;

  margin-bottom:0px !important;

  padding-right:0px !important;

  margin-right:0px !important;

}

*#dm *.dmBody div.u_1620106714 {

  margin-left:0px !important;

  padding-top:0px !important;

  padding-left:0px !important;

  padding-bottom:0px !important;

  margin-top:0px !important;

  margin-bottom:0px !important;

  padding-right:0px !important;

  margin-right:0px !important;

}

*#dm *.d-page-1716942098 DIV.dmInner {

  background-repeat:no-repeat !important;

  background-size:auto 100vh !important;

  background-position:50% 0;

}

*#dm *.d-page-1716942098 DIV#dmSlideRightNavRight {

  background-repeat:no-repeat !important;

  background-image:none !important;

  background-size:auto 100vh !important;

  background-position:50% 0;

}
