/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS DESKTOP AND TABLET DEVICES */
*#dm *.dmBody h3.u_1155986652
{
}
*#dm *.dmBody h3.u_1608352077
{
}
*#dm *.dmBody div.u_1468914902 hr
{
	margin-bottom:20px !important;
}
*#dm *.dmBody div.u_1736563686 hr
{
	margin-bottom:20px !important;
}
*#dm *.dmBody div.u_1368839365 hr
{
	margin-bottom:20px !important;
}
*#dm *.dmBody div.u_1702610957 hr
{
	margin-bottom:20px !important;
}
*#dm *.dmBody div.u_1736563686
{
	width:305px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:87.5px !important;
	margin-left:87.5px !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody div.u_1368839365
{
	width:305px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	display:block !important;
}
*#dm *.dmBody div.u_1829641120
{
	margin-top:0 !important;
	margin-left:88px !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-bottom:8px !important;
	margin-right:88px !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1189509483
{
	margin-top:0 !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:305px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:87.5px !important;
	margin-left:87.5px !important;
	max-width:100% !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:0 !important;
	display:block !important;
}
*#dm *.dmBody h3.u_1355597837
{
}
*#dm *.dmBody div.u_1408163981 hr
{
	margin-bottom:20px !important;
}
*#dm *.dmBody div.u_1408163981
{
	width:305px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
}
*#dm *.dmBody h3.u_1333150074
{
}
*#dm *.dmBody div.u_1523873877 hr
{
	margin-bottom:20px !important;
}
*#dm *.dmBody div.u_1075119832
{
	margin-left:80px !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:80px !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1581047331
{
	margin-top:0 !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:305px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:80.3125px !important;
	margin-left:80.3021px !important;
	max-width:100% !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	display:block !important;
}
*#dm *.dmBody div.u_1753802599
{
	width:305.594px !important;
	margin-bottom:0 !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:0 !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1476885700
{
	width:calc(100% - 0px) !important;
	margin-bottom:0px !important;
	float:none !important;
	top:0px !important;
	left:0 !important;
	position:relative !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:305px !important;
	margin-top:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
	height:auto !important;
}
*#dm *.dmBody div.u_1702610957
{
	width:305px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	max-width:100% !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
	margin-right:87.5px !important;
	margin-left:87.5px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
}
*#dm *.dmBody div.u_1170385210
{
	width:305px !important;
	margin-left:0px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-right:0px !important;
	padding-right:0px !important;
}
*#dm *.dmBody div.u_1879608204
{
	margin-left:0px !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	margin-right:0px !important;
	padding-right:0px !important;
}
*#dm *.dmBody a.u_1928839575
{
	margin-left:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	margin-right:auto !important;
	padding-right:0px !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:280px !important;
	position:relative !important;
	height:46px !important;
	max-width:100% !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody a.u_1018115802
{
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	padding-right:0px !important;
	margin-left:auto !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	margin-right:auto !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:280px !important;
	position:relative !important;
	height:46px !important;
	max-width:100% !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody a.u_1228380627
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:280px !important;
	position:relative !important;
	height:46px !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody a.u_1994855237
{
	margin-left:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	margin-right:auto !important;
	padding-right:0 !important;
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:280px !important;
	position:relative !important;
	height:46px !important;
	max-width:100% !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody h2.u_1155986652
{
	margin-top:0px !important;
	margin-bottom:0px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:305px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:80.3125px !important;
	margin-left:80.3021px !important;
	max-width:100% !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody div.u_1468914902
{
	width:305px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:80.3125px !important;
	margin-left:80.3021px !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody h2.u_1333150074
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:305px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	max-width:100% !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
	margin-right:87.5px !important;
	margin-left:87.5px !important;
	margin-top:0px !important;
	margin-bottom:8px !important;
}
*#dm *.dmBody h2.u_1355597837
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:305px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	max-width:100% !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
	margin-right:80.3125px !important;
	margin-left:80.3021px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
}
*#dm *.dmBody h2.u_1608352077
{
	margin-top:0px !important;
	margin-bottom:0px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:305px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:87.5px !important;
	margin-left:87.5px !important;
	max-width:100% !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody div.u_1401514078
{
	margin-left:0px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-right:0px !important;
	padding-right:0px !important;
}
*#dm *.dmBody div.u_1654380591
{
	margin-left:0px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-right:0px !important;
	padding-right:0px !important;
}
*#dm *.dmBody div.u_1523873877
{
	width:305px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	max-width:100% !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
	margin-right:87.5px !important;
	margin-left:87.5px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
}
*#dm *.dmBody div.u_1800077045
{
	width:305px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-top:0px !important;
	margin-right:0px !important;
	padding-right:0px !important;
}
