/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS ALL DEVICES */
*#dm *.dmBody div.u_1800077045
{
}
*#dm *.dmBody div.u_1829641120
{
}
*#dm *.dmBody div.u_1753802599
{
}
*#dm *.dmBody h3.u_1155986652
{
}
*#dm *.dmBody div.u_1581047331
{
}
*#dm *.dmBody div.u_1476885700
{
}
*#dm *.dmBody h3.u_1608352077
{
}
*#dm *.dmBody div.u_1189509483
{
}
*#dm *.dmBody div.u_1736563686 hr
{
	background:none !important;
	height:0 !important;
	background-color:transparent !important;
	background-size:initial !important;
	min-height:0 !important;
	border-color:currentColor !important;
	border-width:1px !important;
	border-top-style:solid !important;
	color:rgb(221,221,221) !important;
	border-top-width:1px !important;
}
*#dm *.dmBody div.u_1468914902 hr
{
	background:none !important;
	height:0 !important;
	background-color:transparent !important;
	background-size:initial !important;
	min-height:0 !important;
	border-color:currentColor !important;
	border-width:1px !important;
	border-top-style:solid !important;
	color:rgb(221,221,221) !important;
	border-top-width:1px !important;
}
*#dm *.dmBody div.u_1368839365 hr
{
	background:none !important;
	height:0 !important;
	background-color:transparent !important;
	background-size:initial !important;
	min-height:0 !important;
	border-color:currentColor !important;
	border-width:1px !important;
	border-top-style:solid !important;
	color:rgb(221,221,221) !important;
	border-top-width:1px !important;
}
*#dm *.dmBody div.u_1702610957 hr
{
	background:none !important;
	height:0 !important;
	background-color:transparent !important;
	background-size:initial !important;
	min-height:0 !important;
	border-color:currentColor !important;
	border-width:1px !important;
	border-top-style:solid !important;
	color:rgb(221,221,221) !important;
	border-top-width:1px !important;
}
*#dm *.dmBody *.u_1189509483
{
	text-align:LEFT !important;
}
*#dm *.dmBody *.u_1189509483 .rteBlock
{
	text-align:LEFT !important;
}
*#dm *.dmBody h3.u_1355597837
{
}
*#dm *.dmBody div.u_1408163981 hr
{
	background:none !important;
	height:0 !important;
	background-color:transparent !important;
	background-size:initial !important;
	min-height:0 !important;
	border-color:currentColor !important;
	border-width:1px !important;
	border-top-style:solid !important;
	color:rgb(221,221,221) !important;
	border-top-width:1px !important;
}
*#dm *.dmBody *.u_1581047331
{
	text-align:LEFT !important;
}
*#dm *.dmBody *.u_1581047331 .rteBlock
{
	text-align:LEFT !important;
}
*#dm *.dmBody h3.u_1333150074
{
}
*#dm *.dmBody div.u_1523873877 hr
{
	background:none !important;
	height:0 !important;
	background-color:transparent !important;
	background-size:initial !important;
	min-height:0 !important;
	border-color:currentColor !important;
	border-width:1px !important;
	border-top-style:solid !important;
	color:rgb(221,221,221) !important;
	border-top-width:1px !important;
}
*#dm *.dmBody *.u_1476885700
{
	width:100% !important;
}
*#dm *.dmBody *.u_1800077045
{
	width:100% !important;
}
*#dm *.dmBody *.u_1753802599
{
	width:100% !important;
}
*#dm *.dmBody *.u_1170385210
{
	width:100% !important;
}
*#dm *.dmBody div.u_1170385210 img[dm_changed]
{
	border-radius:9% !important;
	-moz-border-radius:9% !important;
	-webkit-border-radius:9% !important;
}
*#dm *.dmBody div.u_1170385210 img
{
	border-radius:9% !important;
	-moz-border-radius:9% !important;
	-webkit-border-radius:9% !important;
}
*#dm *.dmBody div.u_1753802599 img[dm_changed]
{
	border-radius:9% !important;
	-moz-border-radius:9% !important;
	-webkit-border-radius:9% !important;
}
*#dm *.dmBody div.u_1753802599 img
{
	border-radius:9% !important;
	-moz-border-radius:9% !important;
	-webkit-border-radius:9% !important;
}
*#dm *.dmBody div.u_1800077045 img[dm_changed]
{
	border-radius:9% !important;
	-moz-border-radius:9% !important;
	-webkit-border-radius:9% !important;
}
*#dm *.dmBody div.u_1800077045 img
{
	border-radius:9% !important;
	-moz-border-radius:9% !important;
	-webkit-border-radius:9% !important;
}
*#dm *.dmBody div.u_1476885700 img[dm_changed]
{
	border-radius:9% !important;
	-moz-border-radius:9% !important;
	-webkit-border-radius:9% !important;
}
*#dm *.dmBody div.u_1476885700 img
{
	border-radius:9% !important;
	-moz-border-radius:9% !important;
	-webkit-border-radius:9% !important;
}
*#dm *.dmBody a.u_1018115802 .iconBg
{
	display:none !important;
}
*#dm *.dmBody a.u_1018115802
{
	border-radius:6px !important;
	-moz-border-radius:6px !important;
	-webkit-border-radius:6px !important;
}
*#dm *.dmBody a.u_1928839575 .iconBg
{
	display:none !important;
}
*#dm *.dmBody a.u_1928839575
{
	border-radius:6px !important;
	-moz-border-radius:6px !important;
	-webkit-border-radius:6px !important;
}
*#dm *.dmBody a.u_1228380627 .iconBg
{
	display:none !important;
}
*#dm *.dmBody a.u_1228380627
{
	border-radius:6px !important;
	-moz-border-radius:6px !important;
	-webkit-border-radius:6px !important;
}
*#dm *.dmBody a.u_1994855237 .iconBg
{
	display:none !important;
}
*#dm *.dmBody a.u_1994855237
{
	border-radius:6px !important;
	-moz-border-radius:6px !important;
	-webkit-border-radius:6px !important;
}
