/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.dmBody div.u_1694343445{
padding-top:0 !important;
padding-bottom:0 !important}
*#dm *.dmBody div.u_1255709720{
padding-left:0 !important;
padding-right:0 !important}
*#dm *.dmBody div.u_1591920643{
margin-bottom:20px !important}
*#dm *.dmBody h2.u_1494951262{
margin-top:0 !important;
margin-bottom:0 !important}
*#dm *.dmBody div.u_1241389950{
margin-bottom:30px !important}
*#dm *.dmBody div.u_1046376644{
padding-bottom:0 !important}
*#dm *.dmBody div.u_1202488711{
padding-left:0 !important;
padding-right:0 !important}
*#dm *.dmBody div.u_1323090342 hr{
margin-bottom:20px !important}
